**/.DS_Store
**/.pyc
**/browser/
**/__pycache__/
**/.vscode
**/.python-version
node_modules
robotframework2testrail.log
playwright-log.txt
log.html
report.html
output.xml
**/interactive_console_output.xml
venv
**/browser/
